.aio-shop-cart-button-step{
    color: dodgerblue;
    background:none;
    width: 30px;
    border:none;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0;
}
.aio-shop-cart-button-input[type=number]::-webkit-inner-spin-button, 
.aio-shop-cart-button-input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}
.aio-shop-cart-button-input{
    text-align: center;
    width:28px;
    height:24px;
    line-height: 24px;
    font-size: 12px;
    background:none;
    font-weight: bold;
}
.product-count-button.disabled{
    background: #aaa;
    opacity:0.4;
}
.product-delete-button{
    color: #0094D4;
    background:none; 
    width:30px;
    height:30px;
}

.count-popup-container{
    position:fixed;
    border-radius:12px;
    box-sizing: border-box;
    bottom:0;
    width:100%;
    height:100%;
    left:0;
    z-index:10;
}
.count-popup{
    padding:12px;
    background:#fff;
}
.aio-shop-product-card{
    border-radius:12px;
    background:#fff;
    box-shadow:-2px 2px 12px 0 rgba(0,0,0,0.1)
}
.aio-shop-product-card-discount{
    background:orange;
    font-size:12px;
    padding:0 6px;
    border-radius:4px;
    color:#fff;
    position:absolute;
    left:6px;
    top:6px;
}
.aio-shop-product-card-name{
    max-height:36px;
    font-size:12px;
    font-weight:bold;
    text-align:right;
    margin-bottom:6px; 
    padding:0 6px;
    overflow:hidden;
}
.aio-shop-product-card-description{
    max-height:30px;
    font-size:10px;
    padding:0 6px;
}
.aio-shop-product-card-final-price{
    font-size:12px;
    font-weight:bold;
}
.aio-shop-product-card-price{
    font-size:10px;
    margin-left:6px;
}
.aio-shop-product-card-unit{
    font-size:10px;
}
.aio-shop-product-card-image{
    width:72px;
}
.aio-shop-discount-code{
    padding:6px;
    border-radius:6px;
    margin:0 12px;
    margin-bottom:12px;
    border:1px solid #ddd;
    background:#fff;
}
.aio-shop-discount-code input{
    width:100%;
    border:none;
    background:none;
    outline:none;
}
.aio-shop-discount-code button{
    background:dodgerblue;
    color:#fff;
    border:none;
    height:32px;
    border-radius:4px;
}
.aio-shop-discount-code button:disabled{
    background:#bbb;
    color:#fff;
    border:none;
    height:32px;
    border-radius:4px;
}
.aio-shop-shipping-option{
    margin:0 12px;
    border-radius:6px;
    margin-bottom:12px;
    padding:12px;
    background:#fff;
}
.aio-shop-shipping-radio-option{
    font-size:14px;
    font-weight:bold;
    padding:8px 0;
    color:#888;
    width:100%;
    border-bottom:1px solid #eee;
}
.aio-shop-shipping-radio-option:last-child{
    border-bottom:none;
}
.aio-shop-shipping-option-title{
    font-weight:bold;
    font-size:16px;
    margin-bottom:6px;
}
.aio-shop-shipping-discount-code-error{
    color:red;
    transform: translateY(-12px);
    font-size:12px;
    padding:0 16px;
}