.as-product-card{
    width:100%;
    flex:none;
    border-radius:12px;
    background:#fff;
    box-shadow:-2px 2px 12px 0 rgba(0,0,0,0.1)
}
.as-product-card.shipping{
    box-shadow:none;
    border-radius:0;
    border-bottom:1px solid #ddd;
}
.as-product-card{
    width:100%;
    flex:none;
    border-radius:12px;
    background:#fff;
    box-shadow:-2px 2px 12px 0 rgba(0,0,0,0.1)
}
.as-product-card.vertical{
    width:156px;
    height:300px;
    border-radius:12px;
    background:#fff;
    box-shadow:-2px 2px 12px 0 rgba(0,0,0,0.1)
}


.as-product-card-name{
    max-height:36px;
    font-size:12px;
    font-weight:bold;
    text-align:right;
    overflow:hidden;
}
.as-product-card.shipping .as-product-card-name{
    max-height:24px;
    width:100%;
    white-space:nowrap;
}
.as-product-card-description{
    font-size:10px;
    flex:1;
    margin-bottom:6px;
}
.as-product-card-final-price{
    font-size:12px;
    font-weight:bold;
}
.as-product-card-price{
    font-size:10px;
    margin-left:6px;
}
.as-product-card-unit{
    font-size:10px;
}
.as-product-card-image img{
    max-height:120px;
    max-width:120px;
}
.as-product-card.shipping .as-product-card-image img{
    max-height:72px;
    max-width:72px;
}
.as-product-card.vertical .as-product-card-image{
    height:96px;
    margin-top:12px;
}

.as-product-card-extra{
    position:absolute;
    right:6px;
    bottom:6px;
}

