.bo-submit-button,.bo-edit-button{
    border:1px solid dodgerblue;
    background:dodgerblue;
    color:#fff;
    border-radius:4px;
    margin:0 1px;
}
.bo-reset-button{
    border:1px solid dodgerblue;
    color:dodgerblue;
    background:none;
    border-radius:4px;
    margin:0 1px;
}
.bo-showMore-button{
    border:1px solid dodgerblue;
    color:dodgerblue;
    background:none;
    border-radius:4px;
    margin:0 1px;
}
.bo-submit-button:disabled,.bo-edit-button:disabled{
    opacity:0.3;
}
.bo-remove-button{
    background:red;
    color:#fff;
    border:none;
    border-radius:4px;
    margin:0 2px;
    padding:0 12px;
}
.product-manager{
    background:#eee;
    height:100%;
    font-size:12px;
}
.product-manager-product-card{
    margin:6px;
    margin-bottom:0;
    border-radius:12px;
    font-size:12px;
}
.product-manager-product-card-description{
    font-size:80%;
    opacity:0.5;
}
.product-manager-product-card-image{
    margin:6px;
}
.product-manager-product-card-variants-length{
    position:absolute;
    top:0;
    right: 0;
    background:yellow;
    padding: 0 6px;
}
.product-manager-header{
    background:#fff;
    padding:12px;
}
.product-manager-header-button{
    background: dodgerblue;
    color:#fff;
}
