.as-shipping{
    padding:var(--as-gap);
    box-sizing: border-box;
}
.as-shipping-item{
    width:100%;
}
.as-shipping-option{
    font-weight:bold;
    padding:3px 0;
    width:100%;
}
.as-shipping-option:last-child{
    border-bottom:none;
}
.as-shipping-option-title{
    font-weight:bold;
    font-size:16px;
    margin-bottom:6px;
}
.as-shipping-discount-code-error{
    color:red;
    transform: translateY(-12px);
    font-size:12px;
    padding:0 16px;
}
.as-discount-code{
    padding:3px;
    border-radius:6px;
    border:1px solid #ddd;
    background:#fff;
}
.as-discount-code input{
    width:100%;
    border:none;
    background:none;
    outline:none;
}
.as-discount-code button{
    background:dodgerblue;
    color:#fff;
    border:none;
    height:32px;
    border-radius:4px;
}
.as-discount-code button:disabled{
    background:#bbb;
    color:#fff;
    border:none;
    height:32px;
    border-radius:4px;
}