.reserve-panel-image{
    border:3px dashed #aaa !important;
    width:96px !important;
    height:96px;
}
.reserve-form-input{
    border:1px solid #aaa !important;
    min-height:36px !important;
}
