.group-button-option{
    border-radius:6px;
    padding:3px 8px;
    border:none;
    font-size:12px;
    background:#ddd;
    border:1px solid #ddd;
}
.group-button-option.active{
    border:1px solid;
    background:#fff;
    color:#00AD79;
}
.group-button.outline .group-button-option.active{
    border:none;
    background:none;
    color:#00AD79;
    font-weight:bold;
}
