.group-button-option{
    border-radius:6px;
    padding:3px 8px;
    border:none;
    font-size:12px;
    background:#ddd;
    border:1px solid #ddd;
}
.group-button-menu{
    width:72px;
    height:72px;
    background:#fff;
    border:1px solid orange;
    color:orange;
}
.group-button-option.active{
    border:1px solid;
    color:#fff;
    background:#00AD79;
}

.group-button-menu.active{
    border:1px solid;
    color:#fff;
    background:orange;
}

