body{
  direction:rtl;
  font-family:IRANSans-light;
  background:#ddd;
}
button,input{
  font-family:inherit;
}
.no-border{
  border:none;
}
.bgFF5900{
  background:#FF5900;
}
.colorFFF{
  color:#fff;
}
.bgFFF{
  background:#fff;
}
.bgECECED{
  background:#ECECED;
}